{#
/**
 * @file
 * Theme override for a fieldset element and its children.
 *
 * Available variables:
 * - attributes: HTML attributes for the <fieldset> element.
 * - errors: (optional) Any errors for this <fieldset> element, may not be set.
 * - required: Boolean indicating whether the <fieldset> element is required.
 * - legend: The <legend> element containing the following properties:
 *   - title: Title of the <fieldset>, intended for use as the text
       of the <legend>.
 *   - attributes: HTML attributes to apply to the <legend> element.
 * - description: The description element containing the following properties:
 *   - content: The description content of the <fieldset>.
 *   - attributes: HTML attributes to apply to the description container.
 * - children: The rendered child elements of the <fieldset>.
 * - prefix: The content to add before the <fieldset> children.
 * - suffix: The content to add after the <fieldset> children.
 *
 * @see template_preprocess_fieldset()
 */
#}
{% set classes = [
  'fieldset',
  required ? 'is-required',
  is_disabled ? 'is-disabled',
  'js-form-item',
  'js-form-wrapper',
] %}

{% if type == 'fieldset' %}
  {% set classes = classes|merge([
    'fieldset--default',
  ]) %}
{% else %}
  {% set remove_classes = [
    'fieldgroup',
    'form-composite',
  ] %}
  {% set classes = classes|merge([
    'fieldset--' ~ type|clean_class,
  ]) %}
{% endif %}

{% set legend_span_classes = [
  'fieldset__legend-text',
  required ? 'is-required',
  required ? 'js-form-required',
] %}

<fieldset{{ attributes.removeClass(remove_classes).addClass(classes) }}>
  {#  Always wrap fieldset legends in a <span> for CSS positioning. #}
  <legend{{ legend.attributes.addClass('fieldset__legend') }}>
    <span{{ legend_span.attributes.addClass(legend_span_classes) }}>{{ legend.title }}</span>
  </legend>
  <div class="fieldset__content">
    {% if errors %}
      <div class="fieldset__errors">{{ errors }}</div>
    {% endif %}

    {% if prefix %}
      <span class="fieldset__prefix">{{ prefix }}</span>
    {% endif %}

    {{ children }}

    {% if suffix %}
      <span class="fieldset__suffix">{{ suffix }}</span>
    {% endif %}

    {% if description.content %}
      <div{{ description.attributes.addClass('fieldset__description') }}>{{ description.content }}</div>
    {% endif %}
  </div>
</fieldset>
