{% set classes = [
  'c-site-logo',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<a {{ add_attributes({ 'class': classes })}} href="{{ url }}" title="{{ 'Home'|t }}" rel="home">
  <img class="c-site-logo__image" src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
</a>
