{% set classes = [
  'c-external-link',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{# Change to your project’s domain. #}
{% set allowed_domain = 'forumone.github.io' %}

<a href="{{ url }}" class="{{ classes }}">{{ text }}</a>

{% if is_demo %}
  <hr>
  <h2>Non Links</h2>
  <div><a>No href attribute</a></div>
  <div><a href="javascript:">javascript: (JavaScript in href attribute)</a></div>
  <div><a href="#anchor">#anchor</a></div>
  <div><a href="mailto:email@example.com">mailto:email@example.com (email link)</a></div>
  <div><a href="tel:(123) 456-7890">tel:(123) 456-7890 (telephone link)</a></div>

  <h2>Relative Links</h2>
  <div><a href="/something">/something</a></div>
  <div><a href="./something">./something</a></div>
  <div><a href="../something">../something</a></div>
  <div><a href="something">something</a></div>

  <h2>{{ allowed_domain }} Links</h2>
  <div><a href="//{{ allowed_domain }}">//{{ allowed_domain }}</a></div>
  <div><a href="http://{{ allowed_domain }}">http://{{ allowed_domain }}</a></div>
  <div><a href="https://{{ allowed_domain }}">https://{{ allowed_domain }}</a></div>
  <div><a href="https://www.{{ allowed_domain }}">https://www.{{ allowed_domain }}</a></div>
  <div><a href="http://subdomain.{{ allowed_domain }}">http://subdomain.{{ allowed_domain }}</a></div>
  <div><a href="https://subdomain.{{ allowed_domain }}">https://subdomain.{{ allowed_domain }}</a></div>
  <div><a href="https://www.{{ allowed_domain }}/something">https://www.{{ allowed_domain }}/something</a></div>

  <h2>External Links</h2>
  <div><a href="https://example.com">https://example.com</a></div>
  <div><a href="https://example.com/{{ allowed_domain }}">https://example.com/{{ allowed_domain }}</a></div>
  <div><a href="https://example.com/something">https://example.com/something</a></div>
  <div><a href="https://example.com/something#anchor">https://example.com/something#anchor</a></div>
  <div><a href="https://example.net">https://example.net</a></div>
  <div><a href="https://example.net/something">https://example.net/something</a></div>
  <div><a href="https://example.net/something#anchor">https://example.net/something#anchor</a></div>

  <h2>Allowed External Links</h2>
  <div><a href="https://example-allowed-domain.com">https://example-allowed-domain.com</a></div>

  <h2>Allowed Social Media Links</h2>
  <div><a href="https://www.youtube.com/example-allowed-link">https://www.youtube.com/example-allowed-link</a></div>
{% endif %}
