{% set classes = [
  'button-group',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if buttons %}
  <{{ element ?: 'div' }}
    class="{{ classes }}"
    {%- if element != 'nav' %} role="group"{% endif %}
    aria-label="{{ heading|t -}}
  ">
    <ul class="button-group__list">
      {% for button in buttons %}
        {% set button_classes = [
          'button-group__link',
          'button',
          button_modifier_classes ? button_modifier_classes : '',
          button.active ? 'is-active' : '',
        ]|join(' ')|trim %}

        <li class="button-group__item{% if button.active %} is-active{% endif %}">
          {% block link %}
            <a href="{{ button.url|default('#0') }}" class="{{ button_classes }}">
              {{ button.text }}
              {% if button.active %}
                <span class="visually-hidden">{{ (active_label|default('(active)'))|t }}</span>
              {% endif %}
            </a>
          {% endblock link %}
        </li>
      {% endfor %}
    </ul>
  </{{ element ?: 'div' }}>
{% endif %}
