{% set classes = [
  'pager',
  'pager--mini',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set pagination_id = 'pagination-heading'|unique_id %}

{% if pager_items.previous or pager_items.next %}
  <nav {{ add_attributes({
    'class': classes,
    'aria-label': heading|default('Pagination'),
    'role': 'navigation'
  })}}>
    <ul class="pager__items js-pager__items">

      {% if pager_items.previous %}
        {% set link_label = 'Go to previous page'|t %}
        <li class="pager__item pager__item--previous">
          <a class="pager__link pager__link--previous" href="{{ pager_items.previous.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" rel="prev" {{ pager_items.previous.attributes|without('aria-label', 'href', 'rel', 'title') }}>
            {% include '@components/icon/icon.twig' with {
              'is_hidden': true,
              'modifier_classes': 'icon--pager',
              'icon_name': 'angle-left',
            }  %}
            <span class="u-visually-hidden">{{ link_label }}</span>
            <span aria-hidden="true">{{ 'Previous'|t }}</span>
          </a>
        </li>
      {% endif %}

      {% if pager_items.current %}
        <li class="pager__item pager__item--current">
          <span class="u-visually-hidden">
            {{ 'Currently on page'|t }}
          </span>
          {{ pager_items.current }}
        </li>
      {% endif %}

      {% if pager_items.next %}
        {% set link_label = 'Go to next page'|t %}
        <li class="pager__item pager__item--next">
          <a class="pager__link pager__link--next" href="{{ pager_items.next.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" rel="next" {{ pager_items.next.attributes|without('aria-label', 'href', 'rel', 'title') }}>
            <span class="u-visually-hidden">{{ link_label }}</span>
            <span aria-hidden="true">{{ 'Next'|t }}</span>
            {% include '@components/icon/icon.twig' with {
              'is_hidden': true,
              'modifier_classes': 'icon--pager',
              'icon_name': 'angle-right',
            }  %}
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
