{% set classes = [
  'c-pager',
  'c-pager--mini',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set pagination_id = 'pagination-heading'|unique_id %}

{% if pager_items.previous or pager_items.next %}
  <nav {{ add_attributes({
    'class': classes,
    'aria-label': heading|default('Pagination'),
    'role': 'navigation'
  })}}>
    <ul class="c-pager__items js-pager__items">

      {% if pager_items.previous %}
        {% set link_label = 'Go to previous page'|t %}
        <li class="c-pager__item c-pager__item--previous">
          <a class="c-pager__link c-pager__link--previous" href="{{ pager_items.previous.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" rel="prev" {{ pager_items.previous.attributes|without('aria-label', 'href', 'rel', 'title') }}>
            {%- spaceless %}
              {% include '@components/icon/icon.twig' with {
                'is_hidden': true,
                'modifier_classes': 'c-icon--pager is-spaced-after',
                'icon_name': 'angle-left',
              } %}
              <span class="u-visually-hidden">{{ link_label }}</span>
              <span aria-hidden="true">{{ 'Previous'|t }}</span>
            {% endspaceless -%}
          </a>
        </li>
      {% endif %}

      {% if pager_items.current %}
        <li class="c-pager__item c-pager__item--current">
          <span class="u-visually-hidden">
            {{ 'Currently on page'|t }}
          </span>
          {{ pager_items.current }}
        </li>
      {% endif %}

      {% if pager_items.next %}
        {% set link_label = 'Go to next page'|t %}
        <li class="c-pager__item c-pager__item--next">
          <a class="c-pager__link c-pager__link--next" href="{{ pager_items.next.href }}" aria-label="{{ link_label }}" title="{{ link_label }}" rel="next" {{ pager_items.next.attributes|without('aria-label', 'href', 'rel', 'title') }}>
            {%- spaceless %}
              <span class="u-visually-hidden">{{ link_label }}</span>
              <span aria-hidden="true">{{ 'Next'|t }}</span>
              {% include '@components/icon/icon.twig' with {
                'is_hidden': true,
                'modifier_classes': 'c-icon--pager is-spaced-before',
                'icon_name': 'angle-right',
              } %}
            {% endspaceless -%}
          </a>
        </li>
      {% endif %}

    </ul>
  </nav>
{% endif %}
