<div class="pattern-lab-color-groups">
    
    {% for key, list in gesso.palette %}
        {% set light = {} %}
        {% set dark = {} %}
        {% set base = {} %}
    
        {{key}}
         {% for color_key, color in list %}
            {% if color_key starts with 'light' %}
                {% set light = light|merge({(color_key) : color}) %}
            {% endif %}
             {% if color_key starts with 'dark' %}
                {% set dark = dark|merge({(color_key) : color}) %}
            {% endif %}
             {% if color_key starts with 'base' %}
                {% set base = base|merge({(color_key) : color}) %}
            {% endif %}
         {% endfor %}

        {% if base|length > 0 %}
            {% for base_key, base_value in base %}
                {{base_key }}, {{base_value}}
            {% endfor %}
         {% endif %}

          {% if light|length > 0 %}
            {% for light_key, light_value in light %}
                {{light_key }}, {{light_value}}
            {% endfor %}
         {% endif %}
          {% if dark|length > 0 %}
            {% for dark_key, dark_value in dark %}
                {{dark_key }}, {{dark_value}}
            {% endfor %}
         {% endif %}
         
        
        <div class="pattern-lab-color-group">
            <div class="pattern-lab-color-group__base">
                {% for color in colorset.base_color %}
                    {% include 'global-color-item' with  {
						hex: color.hex,
						light_text: color.light_text,
						variable_name: color.variable_name
					} %}

                {% endfor %}
            </div>
            {% if colorset.light_variant %}
                <div class="pattern-lab-color-group__variant pattern-lab-color-group__variant--light">
                    {% for color in colorset.light_variant %}
                        {% include 'global-color-item' with  {
								hex: color.hex,
								light_text: color.light_text,
								variable_name: color.variable_name
							} %}
                    {% endfor %}
                </div>
            {% endif %}
            {% if colorset.dark_variant %}
                <div class="pattern-lab-color-group__variant pattern-lab-color-group__variant--dark">
                    {% for color in colorset.dark_variant %}
                        {% include '_global-color-item' with  {
								hex: color.hex,
								light_text: color.light_text,
								variable_name: color.variable_name
							} %}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endfor %}
</div>
