{% set additional_attributes = {
  'class': ['field'],
} %}
{% set additional_title_attributes = {
  'class': ['field__label'],
} %}
{% set additional_item_attributes = {
  'class': ['field__item'],
} %}

<{{ element ?: 'div' }} {{ add_attributes(additional_attributes) }}>
  {% if not label_hidden %}
    <{{ label_element ?: 'h3' }} {{ add_attributes(additional_title_attributes,'title_attributes') }}>{{ label }}</{{ label_element ?: 'h3' }}>
  {% endif %}
  {% if multiple %}
    <div class="field__items">
  {% endif %}
  {% for item in items %}
    <div {{ add_attributes(additional_item_attributes) }}>{{ item.content }}</div>
  {% endfor %}
  {% if multiple %}
    </div>
  {% endif %}
</{{ element ?: 'div' }}>
