{% set classes = [
  'c-field',
  'c-field--list',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if not label_display %}
  {% if is_inline %}
    {% set label_display = 'inline' %}
  {% endif %}
{% endif %}

{% set title_classes = [
  'c-field__label',
  label_display == 'inline' ? 'is-inline' : '',
  label_display == 'visually_hidden' ? 'u-visually-hidden' : '',
]|join(' ')|trim %}

<{{ element ?: 'div' }} {{ add_attributes({ 'class': classes }) }}>
  {% if not hide_label -%}
    <{{ label_element ?: 'h3' }} {{ add_attributes({ 'class': title_classes },'title_attributes') }}>{{ label }}</{{ label_element ?: 'h3' }}>
  {%- endif -%}
  <{{ list_element ?: 'ul' }} class="field__content">
    {%- for item in field_items -%}
      <li>{{- item.content -}}</li>
    {%- endfor -%}
  </{{ list_element ?: 'ul' }}>
</{{ element ?: 'div' }}>
