{% set classes = [
  'form-item',
  'form-item--' ~ type,
  modifier_classes ? modifier_classes : '',
  is_disabled ? 'is-disabled' : '',
  is_full_width ? 'is-full-width' : '',
  is_required ? 'is-required' : '',
  errors ? 'has-error' : '',
  hide_label ? 'has-no-label' : '',
]|join(' ')|trim %}

{% if not id %}
  {% set id = type|unique_id %}
{% endif %}

{% if not described_by %}
  {% set described_by = type ~ '-description'|unique_id %}
{% endif %}

<div {{ add_attributes({ 'class': classes }) }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}

  {% if prefix or suffix %}
    <div class="form-item__element">
  {% endif %}

    {% if prefix %}
      <span class="form-item__prefix">{{ prefix }}</span>
    {% endif %}

    {{ children }}

    {% if suffix %}
      <span class="form-item__suffix">{{ suffix }}</span>
    {% endif %}

  {% if prefix or suffix %}
    </div>
  {% endif %}

  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  {% if description %}
    <div class="form-item__description" id="{{ described_by }}">
      {{ description }}
    </div>
  {% endif %}
</div>
