<section class="l-section">
  {% if has_constrain %}
    <div class="{{ constrain_classes ?: 'l-constrain' }}">
  {% endif %}

  {% if section_title %}
    <{{ section_title_element ?: 'h2' }} class="l-section__title">{{ section_title }}</{{ label_element ?: 'h2' }}>
  {% endif %}

  <div class="l-section__content">
    {% block content %}
      {{ section_content }}
    {% endblock %}
  </div>

  {% if has_constrain %}
    </div>
  {% endif %}
</section>
