{% set classes = [
  'l-grid',
  num_of_cols ? ('l-grid--' ~ num_of_cols ~ '-col') : '',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if is_demo and not grid_content %}
  {% import '@global/gesso.macro.twig' as macros %}
  {% set grid_content %}
    {{ macros.sample_content('Grid Item 1') }}
    {{ macros.sample_content('Grid Item 2') }}
    {{ macros.sample_content('Grid Item 3') }}
    {{ macros.sample_content('Grid Item 4') }}
    {{ macros.sample_content('Grid Item 5') }}
    {{ macros.sample_content('Grid Item 6') }}
  {% endset %}
{% endif %}

<div {{ add_attributes({ 'class': classes }) }}>
  {% block content %}
    {{ grid_content }}
  {% endblock %}
</div>
