<div class="l-sidebar{{ has_multiple_sidebar ? ' l-sidebar--multi-2' }} {{ modifier_classes }}">

  {% if has_header %}
    <div class="l-sidebar__full">
      {% block sidebar_header %}
        {{ sidebar_header_content|raw }}
      {% endblock %}
    </div>
  {% endif %}

   {% if has_multiple_sidebar %}
    <aside class="l-sidebar__sidebar">
      {% block sidebar_minor %}
        {{ sidebar_minor_content|raw }}
      {% endblock %}
    </aside>
  {% endif %}

    <div class="l-sidebar__main">
      {% block sidebar_main %}
        {{ sidebar_main_content|raw }}
      {% endblock %}
    </div>

    <aside class="l-sidebar__sidebar">
      {% block sidebar_aside %}
        {{ sidebar_aside_content|raw }}
      {% endblock %}
    </aside>

</div>
