{% set classes = [
  'button',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% if is_button_tag %}
  <button {{ add_attributes({ 'class': classes }) }}{% if is_disabled %} disabled{% endif %}{% if button_type %} type="{{ button_type }}"{% endif %}>{{ text }}</button>
{% else %}
  <a href="{{ url }}" {{ add_attributes({ 'class': classes }) }}>{{ text }}</a>
{% endif %}

{% if is_demo %}
  <a href="{{ url }}" {{ add_attributes({ 'class': classes }) }}>{{ text_demo }}</a>
  <button {{ add_attributes({ 'class': classes }) }} disabled>Disabled {{ text }}</button>
{% endif %}
