<nav class="breadcrumb {{ modifier_classes }}" role="navigation" aria-labelledby="breadcrumb-label">
  <h2 class="breadcrumb__title visually-hidden" id="breadcrumb-label">{{ heading|default('You are here')|raw }}</h2>
  <ol class="breadcrumb__list">
    {% for item in breadcrumb %}
      <li class="breadcrumb__item">
        {% if item.url %}
          <a class="breadcrumb__link" href="{{ item.url|raw }}">{{ item.text|raw }}</a>
        {% else %}
          {{ item.text|raw }}
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
