{% set classes = [
  'form-item',
  'form-item--' ~ type,
  modifier_classes ? modifier_classes : '',
  is_disabled ? 'is-disabled' : '',
  is_full_width ? 'is-full-width' : '',
  is_required ? 'is-required' : '',
  errors ? 'has-error' : '',
  hide_label ? 'has-no-label' : '',
]|join(' ')|trim %}

{% set label_classes = [
  'form-item__label',
  is_disabled ? 'is-disabled' : '',
  is_required ? 'is-required' : '',
  hide_label ? 'u-visually-hidden' : '',
]|join(' ')|trim %}

{% if not id %}
  {% set id = type|unique_id %}
{% endif %}

{% if not described_by %}
  {% set described_by = type ~ '-description'|unique_id %}
{% endif %}

<div {{ add_attributes({ 'class': classes }) }}>
  <label {{ add_attributes({ 'class': label_classes }, 'label_attributes') }} for="{{ id }}">
    {{- label }}

    {% if is_required %}
      {%- spaceless %}
        <span class="form-item__required-marker">
          <span class="u-visually-hidden">
            {{ 'This field is required.'|t }}
          </span>
        </span>
      {% endspaceless -%}
    {% endif -%}
  </label>

  {% if prefix or suffix %}
    <div class="form-item__element">
  {% endif %}

    {% if prefix %}
      <span class="form-item__prefix">{{ prefix }}</span>
    {% endif %}

    <input
      class="{{ 'form-item__' ~ type }}"
      id="{{ id }}"
      type="{{ type }}"
      {%- if size %} size="{{ size }}"{% endif -%}
      {%- if max_length %} maxlength="{{ max_length }}"{% endif -%}
      {%- if placeholder %} placeholder="{{ placeholder }}"{% endif -%}
      {%- if step %} step="{{ step }}"{% endif -%}
      {%- if min %} min="{{ min }}"{% endif -%}
      {%- if max %} max="{{ max }}"{% endif -%}
      {%- if accept %} accept="{{ accept }}"{% endif -%}
      {%- if disabled %} disabled="disabled"{% endif -%}
      {%- if is_disabled %} disabled="disabled"{% endif -%}
      {%- if is_required %} required="required" aria-required="true"{% endif -%}
    >

    {% if suffix %}
      <span class="form-item__suffix">{{ suffix }}</span>
    {% endif %}

  {% if prefix or suffix %}
    </div>
  {% endif %}

  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  {% if description %}
    <div class="form-item__description" id="{{ described_by }}">
      {{ description }}
    </div>
  {% endif %}
</div>
