{% set classes = [
  'c-file',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<div {{ add_attributes({ 'class': classes }) }}>
  <img class="c-file__icon" alt="{{ file.mime }}" src="{{ file.icon }}">
  <a href="#" class="c-file__link">{{ file.name }}</a>
  <span class="c-file__size">({{ file.size }})</span>
</div>
