{# The following line adds the details polyfill JS for older browsers for
  Drupal. Within Pattern Lab the attach_library function doesn't do anything,
  so we load the same JS globally in _meta/01-foot.twig for Pattern Lab. #}
{{ attach_library('gesso/details') }}

{% set additional_attributes = {
  'class': ['details'],
} %}

{% set additional_summary_attributes = {
  'class': [
    'details__summary',
    required ? 'is-required'
  ],
  'role': 'button'
} %}

<details {{ add_attributes(additional_attributes) }}>
  {% if details_summary %}
    <summary {{ add_attributes(additional_summary_attributes)}}>{{ details_summary }}</summary>
  {% endif %}
  <div class="details__content">
    {% if details_description %}
      <div class="details__description">{{ details_description }}</div>
    {% endif %}
    {{ details_content }}
  </div>
</details>
