{% if type == 'error' %}
  {% set additional_attributes = {
    'class': [
      'message',
      'message--error',
      modifier_classes ? modifier_classes,
    ],
  } %}
{% elseif type == 'warning' %}
  {% set additional_attributes = {
    'class': [
      'message',
      'message--warning',
      modifier_classes ? modifier_classes,
    ],
  } %}
{% else %}
  {% set additional_attributes = {
    'class': [
      'message',
      'message--status',
      modifier_classes ? modifier_classes,
    ],
  } %}
{% endif %}

<div {% if type == 'error' %} role="alert" {% else %} role="contentinfo" {% endif %} {% if heading %}aria-label="{{ heading }}"{% endif %} {{ add_attributes(additional_attributes) }}>
  <div class="message__content">
    <h2 class="visually-hidden">{{ heading }}</h2>
    {% if messages|length > 1 %}
      <ul class="message__list">
        {% for message in messages %}
          <li class="message__item">{{- message -}}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{- messages|first -}}
    {% endif %}
  </div>
</div>
