{% set classes = [
  'field',
  'field--list',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% set additional_attributes = {
  'class': [classes],
} %}

{% set additional_title_attributes = {
  'class': [
    'field__label',
    label_display == 'inline' ? 'is-inline',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]|join(' ')|trim,
} %}

<{{ element ?: 'div' }} {{ add_attributes(additional_attributes) }}>
  {% if not label_hidden -%}
    <{{ label_element ?: 'h3' }} {{ add_attributes(additional_title_attributes,'title_attributes') }}>{{ label }}</{{ label_element ?: 'h3' }}>
  {%- endif -%}
  <ul class="field__content">
    {%- for item in field_items -%}
      <li>{{ item.content }}</li>
    {%- endfor -%}
  </ul>
</{{ element ?: 'div' }}>

{% if is_demo %}
<div class="{{ classes }}">
  <h3 class="field__label">{{ label }} with Multiple Items</h3>
  <ul class="field__content">
    <li>{{ field_items.0.content }} 1</li>
    <li>{{ field_items.0.content }} 2</li>
  </ul>
</div>

<div class="{{ classes }}">
  <h3 class="field__label is-inline">Inline {{ label }}</h3>
  <ul class="field__content">
    <li>{{ field_items.0.content }}</li>
  </ul>
</div>

<div class="{{ classes }}">
  <h3 class="field__label is-inline">Inline {{ label }} with Multiple Items</h3>
  <ul class="field__content">
    <li>{{ field_items.0.content }} 1</li>
    <li>{{ field_items.0.content }} 2</li>
  </ul>
</div>
{% endif %}
