    <script type="application/json" data-drupal-selector="drupal-settings-json">{}</script>
    <script src="../../../../../../core/assets/vendor/domready/ready.min.js?v=1.0.8"></script>
    <script src="../../../../../../core/assets/vendor/jquery/jquery.min.js?v=2.2.4"></script>
    <script src="../../../../../../core/assets/vendor/jquery-once/jquery.once.min.js?v=2.1.1"></script>
    <script src="../../../../../../core/misc/drupalSettingsLoader.js?v=8.3.7"></script>
    <script src="../../../../../../core/misc/drupal.js?v=8.3.7"></script>
    <script src="../../../../../../core/misc/drupal.init.js?v=8.3.7"></script>
    <script src="../../../../js/overrides/collapse.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/overrides/dropbutton.js?{{ cacheBuster }}"></script>

    <script src="../../../../js/mobile-menu.js?{{ cacheBuster }}"></script>
    <script src="../../../../js/scripts.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
