{% set classes = [
  'c-article',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

<article {{ add_attributes({ 'class': classes }) }}>
  {{ title_prefix }}
  {% block title %}
    {% include '@components/page-title/page-title.twig' with {
      'page_title': title,
    } %}
  {% endblock %}
  {{ title_suffix }}

  {% if show_admin_info %}
    {% if not admin_info %}
      {% set admin_info %}
        {% include '@components/message/message.twig' with {
          'heading': 'Status message',
          'messages': ['This is a status message about <em class="placeholder">something</em> that has been updated. <a href="#">This is a link</a>.'],
        } %}
        {% include '@components/button-group/button-group.twig' with {
          'heading': 'Primary tabs',
          'element': 'nav',
          'button_modifier_classes': 'c-button--base',
          'buttons': [
            {
              'text': 'View',
              'active': true,
            },
            {
              'text': 'Edit',
            },
            {
              'text': 'Delete',
            },
            {
              'text': 'Revisions',
            },
          ],
        } %}
      {% endset %}
    {% endif %}

    {% block admin_info %}
      {{ admin_info }}
    {% endblock %}
  {% endif %}

  {% if show_footer %}
    <footer class="c-article__footer">
      {% block footer %}
        {% if not date %}
          {% set date %}
            {% include '@components/date/date.twig' with {
              'date_format': date_format,
            } %}
          {% endset %}
        {% endif %}

        {% if not author %}
          {% set author %}
            {% include '@components/author/author.twig' with {
                'author': author_name,
              } %}
          {% endset %}
        {% endif %}

        {% include '@components/list/list.twig' with {
          'modifier_classes': 'c-list--pipeline',
          'list': [
            { 'content': date },
            { 'content': author },
          ]
        } %}

        {{ author_picture }}
        {{ rdf_metadata }}
      {% endblock %}
    </footer>
  {% endif %}

  {% block content %}
    {% include '@components/wysiwyg/wysiwyg.twig' with {
      'content': content,
    } %}
  {% endblock %}
</article>
