{{ attach_library('gesso/back_to_top') }}

{% set classes = [
  'back-to-top',
  modifier_classes ? modifier_classes : '',
  is_demo ? 'back-to-top--storybook-show' : '',
]|join(' ')|trim %}

<a href="#{{ top_element }}" {{ add_attributes({ 'class': classes }) }} title="{{ text }}" aria-hidden="true">
  <svg class="back-to-top__icon" role="img" aria-label="{{ text }}">
    <use xlink:href="{{ gesso_image_path }}/sprite.artifact.svg#arrow"></use>
  </svg>
</a>
