{#
/**
 * @file
 * Theme override to display a block.
 */
#}
{%
  set classes = [
    'block',
    'block--' ~ configuration.label|clean_class,
  ]
%}
<div{{ attributes.addClass(classes) }}>
  {{ title_prefix }}
  {% if label %}
    <h2{{ title_attributes }} class="block__title">{{ label }}</h2>
  {% endif %}
  {{ title_suffix }}
  {% block content %}
    <div class="block__content">
      {{ content }}
    </div>
  {% endblock %}
</div>
