{% set classes = [
  'icon',
  modifier_classes ? modifier_classes,
]|join(' ')|trim %}

{% if is_demo %}
  {% set icons = [
    'facebook',
    'linkedin',
    'twitter',
   ] %}
  {% for icon in icons %}
    <p>
      <svg class="{{ classes }}"{% if is_hidden %} aria-hidden="true"{% endif %}>
        <use xlink:href="../../../images/sprite.artifact.svg#{{ icon }}"></use>
      </svg>
      {{ icon }}
    </p>
  {% endfor %}
{%- else -%}
  {% spaceless %}
    <svg class="{{ classes }}"{% if is_hidden %} aria-hidden="true"{% endif %}>
      <use xlink:href="../../../images/sprite.artifact.svg#{{ icon_name }}"></use>
    </svg>
  {% endspaceless %}
{%- endif -%}
