{{ attach_library('gesso/icon_link') }}

{%- apply spaceless %}
  {% set classes = [
    'c-icon-link',
    modifier_classes ? modifier_classes : '',
  ]|join(' ')|trim %}

  <a {{ add_attributes({ 'class': classes }) }} href="{{ url }}"{% if no_follow %} rel="nofollow"{% endif %}{% if storybook %} target="_self"{% endif %}>
    {{- icon_before -}}
    {{- link_text -}}
    {{- icon_after -}}
  </a>
{% endapply %}
