{% set classes = [
  'hero-inline-image',
  custom_classes ? custom_classes,
  has_overlay ? 'has-overlay',
]|join(' ')|trim %}

<div class="{{ classes }}">
  <div class="hero-inline-image__media">
    {{ media }}
  </div>
  <div class="hero-inline-image__content">
    {% if title %}
      <h1 class="hero-inline-image__title">{{ title }}</h1>
    {% endif %}
    {% if subtitle %}
      <h3 class="hero-inline-image__subtitle">{{ subtitle }}</h3>
    {% endif %}
    {% if summary %}
      <div class="hero-inline-image__text">{{ summary }}</div>
    {% endif %}
    {% if call_to_action_content %}
      <div class="hero-inline-image__call-to-action">
        {% block call_to_action %}
          {{ call_to_action_content }}
        {% endblock %}
      </div>
    {% endif %}
  </div>
</div>
