{% set additional_attributes = {
  "class": ["l-section"],
} %}
{% set additional_title_attributes = {
  "class": ["l-section__title"],
} %}
{% set additional_content_attributes = {
  "class": ["l-section__content"],
} %}

{% if has_wrapper %}
  <{{ element ?: "section" }} {{ add_attributes(additional_attributes) }}>
{% endif %}

  {% if has_constrain %}
    <div class="{{ constrain_classes ?: "l-constrain" }}">
  {% endif %}

  {% if label %}
    {{ title_prefix }}
    <{{ label_element ?: "h2" }} {{ add_attributes(additional_title_attributes, 'title_attributes') }}>{{ label|raw }}</{{ label_element ?: "h2" }}>
    {{ title_suffix }}
  {% endif %}

  {% if has_content_wrapper %}
    <{{ content_element ?: "div" }} {{ add_attributes(additional_content_attributes, 'content_attributes') }}>
  {% endif %}

  {% block content %}
    {{ content|raw }}
  {% endblock %}

  {% if has_content_wrapper %}
    </{{ content_element ?: "div" }}>
  {% endif %}

  {% if has_constrain %}
    </div>
  {% endif %}

{% if has_wrapper %}
  </{{ element ?: 'section' }}>
{% endif %}
