{% set classes = [
  'fieldset',
  'fieldset--checkboxes',
  modifier_classes ? modifier_classes : '',
  is_disabled ? 'is-disabled' : '',
  is_required ? 'is-required' : '',
]|join(' ')|trim %}

{% if not id %}
  {% set id = 'checkboxes'|unique_id %}
{% endif %}

<fieldset
  {{ add_attributes({ 'class': classes }) }}
  {%- if is_disabled %} disabled="disabled"{% endif %}
  {%- if is_required %} required="required" aria-required="true"{% endif %}
  {%- if description %} aria-describedby="{{ id }}"{% endif -%}
>
  <legend class="fieldset__legend">
    <span class="fieldset__legend-text{% if is_required %} is-required{% endif %}">
      {{- label }}

      {% if is_required %}
        {%- spaceless %}
          <span class="form-item__required-marker">
            <span class="u-visually-hidden">
              {{ 'This field is required.'|t }}
            </span>
          </span>
        {% endspaceless -%}
      {% endif -%}
    </span>
  </legend>
  <div class="fieldset__content">
    <div class="form-item form-item--checkboxes">
      {% include '@components/form-item/form-item--checkbox/form-item--checkbox.twig' with {
        'label': 'Choice A',
        'id': '',
      } %}
      {% include '@components/form-item/form-item--checkbox/form-item--checkbox.twig' with {
        'label': 'Choice B',
        'id': '',
      } %}
      {% include '@components/form-item/form-item--checkbox/form-item--checkbox.twig' with {
        'label': 'Choice C',
        'id': '',
      } %}
      {% include '@components/form-item/form-item--checkbox/form-item--checkbox.twig' with {
        'label': 'Choice D',
        'id': '',
      } %}
      {% include '@components/form-item/form-item--checkbox/form-item--checkbox.twig' with {
        'label': 'Disabled Choice',
        'id': '',
        'is_disabled': true,
      } %}
      {% include '@components/form-item/form-item--checkbox/form-item--checkbox.twig' with {
        'label': 'Disabled Checked Choice',
        'id': '',
        'is_disabled': true,
        'is_checked': true,
      } %}
    </div>

    {% if description %}
      <div class="fieldset__description" id="{{ id }}">
        {{ description }}
      </div>
    {% endif %}
  </div>
</fieldset>
