{% set classes = [
  'form-item',
  'form-item--select',
  modifier_classes ? modifier_classes : '',
  is_disabled or disabled ? 'is-disabled' : '',
  is_full_width ? 'is-full-width' : '',
  is_required or required ? 'is-required' : '',
  errors ? 'has-error' : '',
  label_display in ['invisible', 'hidden'] ? 'has-no-label' : '',
]|join(' ')|trim %}

{% if not id %}
  {% set id = 'select'|unique_id %}
{% endif %}

{% if not described_by %}
  {% set described_by = 'select-description'|unique_id %}
{% endif %}

<div {{ add_attributes({ 'class': classes }) }}>
  {% if label_display in ['before', 'invisible'] %}
    {{ label }}
  {% endif %}
  {{ children }}

  {% if label_display == 'after' %}
    {{ label }}
  {% endif %}

  {% if errors %}
    <div class="form-item__error-message">
      {{ errors }}
    </div>
  {% endif %}

  {% if description %}
    <div class="form-item__description" id="{{ described_by }}">
      {{ description }}
    </div>
  {% endif %}
</div>
