{% if is_button_tag %}
  <button class="button {{ modifier_classes }}"{% if is_disabled %} disabled{% endif %}>{{ text }}</button>
{% else %}
  <a href="{{ url }}" class="button {{ modifier_classes }}">{{ text }}</a>
{% endif %}

{% if is_demo %}
  <a href="{{ url }}" class="button {{ modifier_classes }}">{{ text_demo }}</a>
  <button class="button {{ modifier_classes }}" disabled>Disabled {{ text }}</button>
{% endif %}
