{% set classes = [
  'field',
  'field--simple',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set title_classes = [
  'field__label',
]|join(' ')|trim %}

<{{ element ?: 'div' }} {{ add_attributes({ 'class': classes }) }}>
  {% if not label_hidden -%}
    <{{ label_element ?: 'strong' }} {{ add_attributes({ 'class': title_classes },'title_attributes') }}>{{ label }}</{{ label_element ?: 'strong' }}>
  {%- endif %}
  {% for item in field_items -%}
    {{- item.content -}}
    {{- not loop.last ? ', ' -}}
  {%- endfor -%}
</{{ element ?: 'div' }}>

{% if is_demo %}
  <div {{ add_attributes({ 'class': classes }) }}>
    <strong class="field__label">{{ label }} with Multiple Items</strong>
    {{ field_items.0.content }} 1, {{ field_items.0.content }} 2
  </div>
{% endif %}
