{% set additional_attributes = {
  'class': ['block'],
} %}
{% set additional_title_attributes = {
  'class': ['block__title'],
} %}
{% set additional_content_attributes = {
  'class': ['block__content'],
} %}

{% if not hide_wrapper %}
  <div {{ add_attributes(additional_attributes) }}>
{% endif %}

  {% if has_constrain %}
    <div class="l-constrain {{ constrain_modifier_classes }}">
  {% endif %}

  {% if label %}
    {{ title_prefix }}
    <{{ label_element ?: 'h2' }} {{ add_attributes(additional_title_attributes, 'title_attributes') }}>{{ label }}</{{ label_element ?: 'h2' }}>
    {{ title_suffix }}
  {% endif %}

  {% if not hide_content_wrapper %}
    <div {{ add_attributes(additional_content_attributes, 'content_attributes') }}>
  {% endif %}

  {% block content %}
    {{ content }}
  {% endblock %}

  {% if not hide_content_wrapper %}
    </div>
  {% endif %}

  {% if has_constrain %}
    </div>
  {% endif %}

{% if not hide_wrapper %}
  </div>
{% endif %}
