<h2>Heading font: {{ font.headings }}</h2>
<h2><em>Heading font italic: {{ font.headings }}</em></h2>
<p>Primary font: {{ font.primary }}</p>
<p><em>Primary font italic: {{ font.primary }}</em></p>
<p><strong>Primary font bold: {{ font.primary }}</strong></p>
<p><code>Monospace font: {{ font.monospace }}</code></p>
<p><code><em>Monospace font italic: {{ font.monospace }}</em></code></p>
<p><code><strong>Monospace font bold: {{ font.monospace }}</strong></code></p>
