<article class="image-teaser" role="article">
  <div class="l-media">
    {% if image %}
      <div class="l-media__object">
        <a href="{{ url }}">{{ image }}</a>
      </div>
    {% endif %}
    <div class="l-media__content">
      <h2><a href="{{ url }}">{{ title }}</a></h2>
      {{ date }}
      {{ summary }}
    </div>
  </div>
</article>
