{% set classes = [
  'field',
  modifier_classes ? modifier_classes : '',
]|join(' ')|trim %}

{% set title_classes = [
  'field__label',
  label_display == 'inline' ? 'is-inline',
  label_display == 'visually_hidden' ? 'visually-hidden',
]|join(' ')|trim %}

<{{ element ?: 'div' }} {{ add_attributes({ 'class': classes }) }}>
  {% if not label_hidden -%}
    <{{ label_element ?: 'h3' }} {{ add_attributes({ 'class': title_classes },'title_attributes') }}>{{ label }}</{{ label_element ?: 'h3' }}>
  {%- endif -%}
  <div class="field__content">
    {%- for item in field_items -%}
      {{- item.content -}}
    {%- endfor -%}
  </div>
</{{ element ?: 'div' }}>

{% if is_demo %}
  <div {{ add_attributes({ 'class': classes }) }}>
    <h3 class="field__label">{{ label }} with Multiple Items</h3>
    <div class="field__content">
      {{ field_items.0.content }} 1{{ field_items.0.content }} 2
    </div>
  </div>

  <div {{ add_attributes({ 'class': classes }) }}>
    <h3 class="field__label is-inline">Inline {{ label }}</h3>
    <div class="field__content">{{ field_items.0.content }}</div>
  </div>

  <div {{ add_attributes({ 'class': classes }) }}>
    <h3 class="field__label is-inline">Inline {{ label }} with Multiple Items</h3>
    <div class="field__content">
      {{ field_items.0.content }} 1{{ field_items.0.content }} 2
    </div>
  </div>
{% endif %}
