<!DOCTYPE html>
<html class="no-js {{ html_class }}" lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="MobileOptimized" content="width">
    <meta name="HandheldFriendly" content="true">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>{{ page_title }} | {{ siteName }}</title>

    <link href="https://fonts.googleapis.com/css?family=Lora:400,700|Open+Sans:300,400,600,700" rel="stylesheet">
    <link rel="stylesheet" href="../../../../css/styles.css?{{ cacheBuster }}" media="all">
    <script src="../../../../js/lib/modernizr.min.js?v=3.3.1"></script>
    <link rel="stylesheet" href="../../../../css/pattern-lab.css?{{ cacheBuster }}" media="all">

    <!-- Begin Pattern Lab (Required for Pattern Lab to run properly) -->
    {{ patternLabHead | raw }}
    <!-- End Pattern Lab -->

  </head>
  <body class="{{ body_class }}">
    <div class="skiplinks">
      <a href="#main" class="skiplinks__link visually-hidden focusable">Skip to main content</a>
    </div>
