    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js?v=1.10.2"></script>
    <script src="../../../js/dist/common.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/primary-menu.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/mobile-menu.min.js?{{ cacheBuster }}"></script>
    <script src="../../../js/dist/scripts.min.js?{{ cacheBuster }}"></script>

    <!--DO NOT REMOVE-->
    {{ patternLabFoot | raw }}
  </body>
</html>
